.takeout {
  position: relative;
  .takeout-h {
    margin: 5% 0 10% 0;
  }
  .takeout-subh {
    position: absolute;
    left: 25%;
    bottom: 32%;
    display: flex;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #aa0023;
    width: 50%;
    padding-left: 2%;
    margin: 0 auto;
    height: 150px;
    @media only screen and (max-width: 1200px) {
      height: 120px;
    }
    .takeout-content {
      width: 100%;
      h5 {
        color: #000;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        font-size: 2.4rem;
        margin: 1% 0 0 1%;
        text-align: left;
        @media only screen and (max-width: 1200px) {
          font-size: 1.8rem;
        }
      }
      .subh-p {
        display: flex;
        margin-left: 3%;
        text-align: left;
        font-size: 1.2rem;
        @media only screen and (max-width: 1200px) {
          font-size: 1rem;
        }
        p {
          margin-right: 10%;
        }
      }
    }
  }
  .btn-container {
    background-image: url("../../assets/img/button-bg.png");
    background-repeat: no-repeat;
    width: 70%;
    display: flex;

    .btn {
      font-size: 0.9rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      width: 80%;
      height: 50px;
      margin: auto;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 0.3s ease-in-out;
      @media only screen and (max-width: 1200px) {
        font-size: 0.75rem;
      }

      &:hover {
        transform: scale(1.1);
      }

      p {
        margin-left: 5%;
      }

      .h-svg {
        background: #aa0023;
        width: 60px;
        height: 100%;
        fill: #ffad32;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
