.header {
  background-color: #aa0031;
  display: flex;
  height: 80vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: left;
  justify-content: center;
  text-align: left;
  background-image: url("../../assets/img/header2.png");
  background-position-y: 100%;
  padding-bottom: 2%;
  .h-imgs {
    position: relative;
    width: 50%;
    .ramen {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: auto;

      @media only screen and (max-width: 1200px) {
        height: 80%;
      }
    }
  }
  header {
    margin-top: 5%;
    width: 40%;
    @media only screen and (max-width: 1200px) {
      width: 100%;
      margin-left: 45%;
    }

    h2 {
      font-size: 7rem;
      font-weight: 900;
      margin: 0;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media only screen and (max-width: 1200px) {
        font-size: 4rem;
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 5%;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      @media only screen and (max-width: 1200px) {
        font-size: 1.2rem;
      }
    }
    .btn-container {
      width: 20%;
      display: flex;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }

      div {
        text-align: center;
        padding: 0;
        border: none;
        color: #aa0023;
        background: white;
        font-size: 1.5rem;
        width: 110px;
        padding: 1.4rem 2rem;
        @media only screen and (max-width: 1200px) {
          font-size: 1.2rem;
        }
      }
      .h-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffad32;
        width: 20px;
        @media only screen and (max-width: 1200px) {
          padding: 1rem 1rem;
        }

        svg {
          fill: #fff;
          background: #ffad32;
        }
      }
    }
  }
}
